* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

#header {
  background: DimGrey;
  padding: 2em;
  color: WhiteSmoke;
  font-size: 3em;
}

.ActiveTeam {
  display: inline-block;
  position: absolute;
}

.ActiveTeam img {
  height: 1em;
  width: 1em;
}

#teamleft {
  left: 0px;
}

#teamright {
  right: 0px;
}

#teams {
   list-style-type: none;
   margin: 0;
   padding: 0;
   font-size: 2em;
}
#teams li {
    padding: 1em;
}
#teams li:nth-child(odd) {
  background: #eee;
}

#teams li p {
  display: inline-block;
  position: absolute;
}

.teamName {
  left: 0px;
}

.teamPoints {
  right: 0px;
}

footer {
  background-color: DimGrey;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 1em 0;
}

footer > p {
  padding: 1em 0;
  color: WhiteSmoke;
}

footer * {
  display: flex;
  justify-content: center;
}
